<footer
    class="fixed bottom-0 w-full min-h-screen bg-[url(/assets/images/footer.svg)] bg-cover"
>
    Jonathan Blanchard
    <div>
        <address class="flex">
            <a
                href="http://www.linkedin.com/in/jonathan-blanchard-82b249193/"
                class=""
                target="_blank"
            >
                <img
                    src="/assets/icons/linkedin.svg"
                    class="h-10 w-10"
                    alt="Linkedin Logo"
                />
            </a>
            <a href="https://github.com/KisukeSaama" class="" target="_blank">
                <img
                    src="/assets/icons/github.svg"
                    class="h-10 w-10"
                    alt="Github Logo"
                />
            </a>
        </address>
    </div>
</footer>
