<footer>
    Jonathan Blanchard
    <div>
        <address class="items-center gap-6h-10 w-10">
            <a
                href="http://www.linkedin.com/in/jonathan-blanchard-82b249193/"
                class=""
                target="_blank"
            >
                <img
                    src="assets/icons/linkedin.svg"
                    class=""
                    alt="Linkedin Logo"
                />
            </a>
            <a href="https://github.com/KisukeSaama" class="" target="_blank">
                <img src="assets/icons/github.svg" class="" alt="Github Logo" />
            </a>
        </address>
    </div>
</footer>
