{% include head.html %}
<header class="w-full h-24">
    <div class="max-w-7xl mx-auto px-6 flex items-center justify-between">
        <a href="/"
            ><img
                src="{{ '/assets/images/logo.png' | relative_url }}"
                alt="Logo"
                class="h-24 w-auto"
        /></a>

        <nav class="hidden md:block">
            <ul class="flex gap-2">
                <a
                    href="{{ site.baseurl }}/"
                    class="px-20 py-9 rounded-b-lg transition-colors {% if page.url == '/' %} bg-[#ff7300] font-semibold {% else %} text-white hover:bg-[#94511b] {% endif %}"
                    >Accueil</a
                >
                <a
                    href="{{ site.baseurl }}/about"
                    class="px-20 py-9 rounded-b-lg transition-colors {% if page.url == '/about/' %} bg-[#ff7300] font-semibold {% else %} text-white hover:bg-[#94511b] {% endif %}"
                    >À Propos</a
                >
                <a
                    href="{{ site.baseurl }}/project"
                    class="px-20 py-9 rounded-b-lg transition-colors {% if page.url == '/project/' %} bg-[#ff7300] font-semibold {% else %} text-white hover:bg-[#94511b] {% endif %}"
                    >Projets</a
                >
                <a
                    href="{{ site.baseurl }}/contact"
                    class="px-20 py-9 rounded-b-lg transition-colors {% if page.url == '/contact/' %} bg-[#ff7300] font-semibold {% else %} text-white hover:bg-[#94511b] {% endif %}"
                    >Contact</a
                >
            </ul>
        </nav>
    </div>
</header>
